@import "../../vars.css";

.container {
    color: var(--color-text);
    background-color: var(--color-primary);
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10%;
    gap: 10px;
}

.text h2 {
    color: #000;
    font-family: Chelsea Market;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text p {
    color: #000;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 756px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

    .link:hover {
        background-color: rgba(155, 100, 200, 1);
    }

.link {
    transition: background-color 0.3s ease;
}


.link a {
    color: var(--color-text);
    font-family: 'Space Mono';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text h2 {
        font-size: 36px;
    }

    .text p {
        color: #000;
        font-family: Space Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 80%;
        margin-top: 2%;
    }

    .links {
        align-items: center;
    }

    .link img {
        width: 20%;
    }

    .link a {
        font-size: 12px;
    }
}